*{margin: 0; padding: 0;}

/* 지정변수 */
:root {
    --font-e: 'Eulyoo1945';
    --font-i: 'Ibarra Real Nova';
}

/* @font-face {
    font-family: 'Eulyoo1945';
    src: url();
    unicode-range: U+AC00-D7A3;
} */

/* 바디에 스크롤 조절 */
body{
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}

::-webkit-scrollbar {
    display: none;
}

/* 전체 감싼 cnt */
.his_cnt {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #F0EDE8;
}
/* our history 전체 감싼 cnt */
.his_infoCnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E4DCD0;
    flex-shrink: 0;
    /* flex-grow: 2; */
    width: 30%;
    overflow: hidden;
}

.his_infoTitleCnt::before {
    content: "";
    position: absolute;
    background-image: url(../../image/logo_2-w.svg.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    top: -5vw;
    right: -10vw;
    bottom: 10vw;
    left: 17vw;
    opacity: 50%;
}
/* our history 타이틀문구 */
.his_infoTitleCnt {
    text-align: center;
    position: relative;
    font-family: var(--font-e);
}
/* our history txt cnt */
.his_title {
    display: flex;
    flex-direction: column;
}

/* our history 그 잡채 */
.his_titleTxt { /*텍스트 공통 클래스*/
    font-family: var(--font-i);
    font-size: 5vw;
    font-weight: 700;
    line-height: 5vw;
    text-align: center;
}

.his_Our { /*타이틀 개별 클래스*/
    padding-top: 9vw;
    padding-right: 13vw;
}

.his_History { /*타이틀 개별 클래스*/
    padding-left: 4vw;
}

/* 타이틀과 디테일 사이 선 */
.his_line {
    padding: 10% 0;
}

/* our history 디테일 cnt */
.his_detailCnt {
    padding-bottom: 11vh;
}
/* 디테일 각자 */
.his_deTxt {
    padding-bottom: 5%;
    font-size: 1vw;
}
/* 연혁 네비 */
.his_navCnt {
    display: flex;
    flex-direction: row;
    font-family: var(--font-i);
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    justify-content: center;
    border: 1px solid #B5AAA0;
}

/* 도입제외 연혁 cnt */
.his_yearCnt {
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* 세기별 cnt */
.his_yearFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-i);
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    border-right: 1px solid #B5AAA0;
}